flows.json
[{"id":"f990f744.dd56d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44853ac8.835d74","type":"ui_form","z":"f990f744.dd56d8","name":"","label":"","group":"7d3c4a63.acc3b4","order":0,"width":0,"height":0,"options":[{"label":"Enter Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":60,"wires":[["665786dc.165968"]]},{"id":"665786dc.165968","type":"function","z":"f990f744.dd56d8","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["2ea7cdc2.f64292","8e25a5e0.87f798"]]},{"id":"2ea7cdc2.f64292","type":"ui_text","z":"f990f744.dd56d8","group":"7d3c4a63.acc3b4","order":1,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":240,"wires":[]},{"id":"8e25a5e0.87f798","type":"watson-conversation-v1","z":"f990f744.dd56d8","name":"Customer Bot","workspaceid":"493d593b-d615-4afb-a63d-fff603800692","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b557a8c6-640c-431a-a54c-bdbd79ff6ad7","timeout":"","optout-learning":false,"x":420,"y":100,"wires":[["8a835f47.56ebe","25712395.16ec8c"]]},{"id":"8a835f47.56ebe","type":"function","z":"f990f744.dd56d8","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":60,"wires":[["4a41260e.88e9d8"]]},{"id":"25712395.16ec8c","type":"debug","z":"f990f744.dd56d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"4a41260e.88e9d8","type":"ui_template","z":"f990f744.dd56d8","group":"7d3c4a63.acc3b4","name":"","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 200px;\n  height: 200px;\n  overflow: auto;\n \n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":260,"wires":[[]]},{"id":"7d3c4a63.acc3b4","type":"ui_group","z":"","name":"UI","tab":"80680fda.a0fa2","order":1,"disp":true,"width":"6","collapse":false},{"id":"80680fda.a0fa2","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]